numpy
openwakeword
PyAudio
python-dotenv
faster-whisper
edge-tts
pygame
langchain
langchain-community
langchain-ollama
langchain_chroma
chromadb
sentence-transformers
pypdf
unstructured
pymupdf
pytesseract
pillow
mediapipe==0.10.15; sys_platform == "linux"
numpy==1.26.4
opencv-python==4.10.0.84
# Raspberry Pi GPIO dependencies — skipped automatically on Windows
gpiozero==2.0.1; sys_platform == "linux"
lgpio==0.2.2.0; sys_platform == "linux"
requests
